<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="paperTrail" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logs2.papertrailapp.com</syslogHost>
        <port>29685</port>
        <facility>USER</facility>
        <suffixPattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</suffixPattern>
    </appender>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="paperTrail"/>
    </root>

</configuration>
